<head>
  <title>{{title}}</title>
  {{> main/head }}
</head>

<body>
  <header>
    {{> main/navbar }}
  </header>
  <br />
  <main class="container">
    <section class="row justify-content-center">
      <article class="col-auto">
        <div class="jumbotron">
          <h1>{{title}}</h1><br />
          <h3>{{message}}</h3>
        </div>
      </article>
    </section>
  </main>
</body>