<head>
  <title>{{title}}</title>
  {{> main/head }}
  <script type="module" src="/assets/js/login.js"></script>
</head>

<body>
  <header>
    {{> main/navbar }}
  </header>
  <br />
  <main class="container">
    <section class="row justify-content-center">
      <article class="col-auto" align="center">
        <div class="jumbotron">
          <h1>Login</h1>
          <form id="login-form" align="left">
            <div class="form-group">
              <label for="email"><b>Email</b></label>
                <input id="email" name="email" class="form-control" type="email" placeholder="Enter email" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9]{2,8}$" required />
            </div>
            <div class="form-group">
              <label for="password"><b>Password</b></label>
                <input id="password" name="password" class="form-control" type="password" placeholder="Enter password" required />
            </div>
            <div id="response" class="alert" role="alert" style="display:none">
            </div>
            <button id="login-submit" class="btn btn-primary" type="submit">Login</button>
            <hr />
            <a href="/forgot">Forgot password</a>
          </form>
        </div>
      </article>
    </section>
  </main>
</body>