<head>
  <title>{{title}}</title>
  {{> main/head }}
  <script type="module" src="/assets/js/index.js"></script>
</head>

<body>
  <header>
    {{> main/navbar }}
  </header>
  <br />
  <main class="container">
    <section class="row justify-content-center">
      <article class="col-auto">
        <div class="jumbotron">



          <div class="card-deck mb-auto text-center">
            <div class="card shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vehicle Inspection</h4>
              </div>
              <div class="card-body">
                <ul class="list-group-item-action text-left">
                  <li>Inspect overall vehicle status</li>
                  <li>Check for vehicle codes</li>
                  <li>Run & drive video</li>
                  <li>Estimated repair parts</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Inspect</button>
              </div>
            </div>
            <div class="card shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vehicle Shipping</h4>
              </div>
              <div class="card-body">
                <ul class="list-group-item-action text-left">
                  <li>Request vehicle shipping</li>
                  <li>Track vehicle location</li>
                  <li>Ensure safe delivery</li>
                  <li>Choose pricing quotes</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Ship</button>
              </div>
            </div>
            <div class="card shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vehicle Repair</h4>
              </div>
              <div class="card-body">
                <ul class="list-group-item-action text-left">
                  <li>Request repair estimates</li>
                  <li>Ensure satisfactory repair</li>
                  <li>Direct shop delivery</li>
                  <li>Estimated duration</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Repair</button>
              </div>
            </div>
            <div class="card shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vehicle Parts</h4>
              </div>
              <div class="card-body">
                <ul class="list-group-item-action text-left">
                  <li>Combine needed parts</li>
                  <li>Find best prices</li>
                  <li>Explore huge inventory</li>
                  <li>One bill all</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Purchase</button>
              </div>
            </div>
          </div>




        </div>
      </article>
    </section>
  </main>
</body>